i.material-icons.prefix.active {
    color: white !important;
}

label.active {
    color: white !important;
}

input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

.divChat {
    background-color: #ededed;
    height: 74vh;
}

.divTable {
    height: 57vh;
    color: white;
    overflow-y: scroll;
}

.divlogin {
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin-bottom: 0%;
}

.btlg1 {
    margin-top: 8px;
    background-color: #022855;
}

.divMessage {
    height: 66vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn.btnPremium {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 0px;
}

.divInput {
    background-color: white;
    height: 8vh;
}

.divButton {
    background-color: white;
    height: 8vh;
}

#message-input:focus {
    border-bottom: 1px solid #022855 !important;
    box-shadow: 0 1px 0 0 #022855 !important;
}

::-webkit-scrollbar {
    width: 8px;
}

.divTable::-webkit-scrollbar-track {
    background: rgba(2, 40, 85, 0.9);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.HistoryColor{
    background-color:rgba(2, 40, 85, 0.9);
}

.TrHistory{
    cursor: pointer;
}

.DivChats{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ChatQuestion{
    background-color:rgba(2, 40, 85, 0.7);
    width: 50%;
    margin-left: auto;
    padding: 1%;
    border-radius: 10px 10px 0 10px;
}

.ChatAnswer{
    background-color: white;
    width: 50%;
    padding: 1%;
    border-radius: 10px 10px 10px 0;
}

td i {
    float: right;
}

.history-p{
    width: 90%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.HistoryTd{
    display: flex;
}

.imgLoading{
    margin-top: auto;
}

